 *{
    margin: 0;
    padding: 0;
 }
 body{
    background-color: rgb(241, 140, 241);
    text-align: center;
 }
 .container{
    height: 70vh;
     display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
 }
 .game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
 }
 .box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    color: rgb(205, 69, 69);
    background-color: #ffffc7;
 }
 .btn{
    margin: 25px;
    padding: 9px;
    font-size: 1rem;
    background-color: rgb(121, 28, 28);
    border-radius: 11px;
    border: none;
    color: rgb(63, 211, 204);
 }
 #new-btn{
   margin: 25px;
    padding: 9px;
    font-size: 1rem;
    background-color: rgb(20, 18, 18);
    border-radius: 11px;
    border: none;
    color: rgb(63, 211, 204);
 }
 #msg{
   color: #ffffc7;
   font-size: 8vmin;
 }
.msg-container{
   height: 30vmin;
}
.hide{
   display: none;
}